---
import Pocketbase from 'pocketbase'
import AppLayout from '@layouts/AppLayout.astro'

const pocketbase = new Pocketbase('http://127.0.0.1:8090')

const projects = await pocketbase.collection('projects').getFullList()
---

<AppLayout pageTitle="Dashboard">
  <ul>
    {projects.map((project) => <li>{project.name}</li>)}
  </ul>
</AppLayout>
