---
import Pocketbase from 'pocketbase'
import AppLayout from '@layouts/AppLayout.astro'
import ProjectCard from '@components/app/cards/ProjectCard.astro'

const pocketbase = new Pocketbase('http://127.0.0.1:8090')

const projects = await pocketbase.collection('projects').getFullList()
---

<AppLayout pageTitle="Dashboard">
  <h1 class="mb-4 text-2xl">Projects:</h1>
  <ul>
    {projects.map((project) => <ProjectCard project={project} />)}
  </ul>
</AppLayout>
